name: Selenium CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  selenium-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build project
        run: mvn clean compile test-compile

      - name: Run Selenium Test
        run: mvn test

      - name: Upload Artifacts (Report + Screenshots)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: selenium-artifacts
          path: test-output
